In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./Data_02.csv', index_col='Date');

In [3]:
data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0